.index_principal * {
    box-sizing: border-box;
}

.index_principal html {
    scroll-behavior: smooth;
}

.index_principal body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.index_principal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}

.index_principal header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

/*HEADER SUPERIOR*/

.index_principal .header__superior {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.index_principal .logo img {
    width: 250px;
}

/*BARRA MENU*/

.index_principal .container__menu {
    width: 100%;
    height: 70px;
    background: #6521a5;
    padding: 0px 20px;
}

.index_principal .menu {
    max-width: 1600px;
    margin: auto;
    height: 100%;
}

.index_principal nav {
    height: 100%;
}

.index_principal nav>ul {
    height: 100%;
    display: flex;
}

.index_principal nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

.index_principal nav>ul>li:first-child>a {
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

.index_principal nav>ul>li:first-child:hover>a {
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

.index_principal nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

.index_principal nav>ul>li>a:hover {
    transform: scale(1.1);
    background: #6521a5;
    box-shadow: 0px 0px 10px 0px #00000080;
}

.index_principal #selected {
    transform: scale(1.1);
    background-color: #6521a5;
    box-shadow: 0px 0px 10px 0px #00000080;
}

/*SUBMENU*/

.index_principal nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px #00000080;
    z-index: 10;
    transition: all 300ms ease;
}

.index_principal nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.index_principal nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    top: -12px;
    left: 20px;
}

.index_principal nav ul li ul li a {
    display: block;
    color: #6521a5;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.index_principal nav ul li ul li a:hover {
    background: #6521a5;
    color: #fff;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px #00000080;
}

.index_principal main {
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
}

.index_principal .icon__menu {
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

.index_principal #label__check {
    width: 26px;
    height: 100%;
    display: none;
}

.index_principal #check__menu {
    display: none;
}

@media screen and (max-width: 720px) {

    .index_principal .logo img {
        width: 200px;
    }

    .index_principal nav>ul {
        flex-direction: column;
        background-color: #6521a5;
        position: fixed;
        left: 0;
        top: 65px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    .index_principal nav>ul>li>a:hover {
        transform: scale(1);
    }

    .index_principal nav ul li ul {
        left: 90px;
    }

    .index_principal nav>ul>li:hover ul {
        top: 50px;
    }

    .index_principal nav>ul>li:first-child a {
        background-position: 20px;
    }

    .index_principal #selected {
        transform: scale(1);
    }

    .index_principal #label__check {
        display: block;
    }

    .index_principal .icon__menu {
        display: flex;
    }

    .index_principal #check__menu:checked~nav>ul {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    .index_principal main {
        margin-top: 158px;
    }
}


.index_principal h1 {
    font-size: 3.5em;
}

.index_principal h2 {
    font-size: 2.7em;
}

.index_principal h3 {
    font-size: 2em;
}

.index_principal p {
    font-size: 1.25em;
}

.index_principal ul {
    list-style: none;
}

.index_principal li {
    font-size: 1.25em;
}

.index_principal button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid #0000004d;
    box-shadow: 2px 2px 10px #00000080;
    color: #ffffff;
    background-color: #6521a5;
}

.index_principal button:hover {
    background-color: #6521a5;
}

.index_principal .container {
    max-width: 1400px;
    margin: auto;
}

.index_principal .color-acento {
    color: #6521a5;
}

.index_principal header {
    background-color: #f5f5f5;

}

.index_principal header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #6521a5;
    font-size: 1.6em;
}

.index_principal header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_principal header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

.index_principal header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.index_principal header a:hover {
    color: #8a2be2;
}

.index_principal #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            #00000080,
            #00000080), url("img/portada2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.index_principal #hero h1 {
    color: #ffffff;
}

.index_principal #hero button {
    font-size: 1.75em;
}

.index_principal #soy-amgas .img-container {
    align-items: center;
    background-image: url("img/mauricio-amgas.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

.index_principal #soy-amgas .container {
    text-align: center;
    padding: 200px 12px;
}

.index_principal #mis-servicios {
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
}

.index_principal #mis-servicios .container {
    padding: 150px 12px;
}

.index_principal #mis-servicios h2 {
    margin-top: 0;
    font-size: 3.2em;
}

.index_principal #mis-servicios p {
    display: none;
}

.index_principal #mis-servicios .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.index_principal .carta:first-child {
    background-image: linear-gradient(0deg,
            #00000080,
            #00000080), url("img/tecnico-profesional.jpg");

}

.index_principal .carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            #00000080,
            #00000080), url("img/informacion.jpg");
}

.index_principal .carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            #00000080,
            #00000080), url("img/mecanico-industrial.jpg");

}

.index_principal #caracteristicas .container {
    text-align: center;
    padding: 250px 14px;
}

.index_principal #caracteristicas li {
    margin: 16px 0px;
    font-weight: bold;
}

.index_principal #ingresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1e1e1e;
    color: #ffffff;
    height: 80vh;
}

.index_principal #ingresa h2 {
    font-size: 9vw;
}

.index_principal #ingresa button {
    font-size: 5vw;
}

.index_principal .info {
    background-color: #1e1e1e;
    color: #ffffff;

}

.index_principal .footer-items {
    display: grid;
    gap: 1em;
}

.index_principal .footer-logo {
    width: 150px;
    display: block;
    margin-bottom: 2em;
}

.index_principal .footer-contact {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.index_principal .footer_contact-second {
    margin-bottom: 1em;
}


.index_principal .footer-icon {
    margin-top: 3px;
}

.index_principal .footer-nav {
    margin-top: 2.5em;
    display: grid;
    gap: .8em;
}

.index_principal .footer-link {
    color: #fff;
    text-decoration: none;
}

.index_principal .footer-social {
    margin-top: 2em;
    margin: 0 auto;
}

.index_principal .footer-media {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 20px;
}

.index_principal .footer_media-last {
    margin-right: 0;
}

@media (min-width: 850px) {
    .index_principal header {
        position: fixed;
        width: 100%;
    }

    .index_principal header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .index_principal header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .index_principal #hero h1 {
        font-size: 5em;
    }

    .index_principal #soy-amgas .container {
        display: flex;
        justify-content: space-evenly;

    }

    .index_principal #soy-amgas .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .index_principal #soy-amgas h2 {
        margin-top: 0px;
    }

    .index_principal #soy-amgas .img-container {
        background-image: url("img/mauricio-amgas.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    .index_principal .carousel {

        margin: 60px;
        border-radius: 15px;
    }

    .index_principal #mis-servicios .servicio {
        display: flex;
        justify-content: center;
    }

    .index_principal #mis-servicios p {
        display: block;
        margin-bottom: 30px;
    }

    .index_principal #mis-servicios h2 {
        font-size: 4em;
    }

    .index_principal #mis-servicios h3 {
        margin-top: 0;
    }

    .index_principal #mis-servicios .carta {
        padding: 60px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: #323232;
        box-shadow: 2px 2px 10px #00000080;
    }

    .index_principal .carta:first-child {
        background-image: linear-gradient(0deg,
                #00000080,
                #00000080), url("img/tecnico-profesional.jpg");

    }

    .index_principal .carta:nth-child(2) {
        background-image: linear-gradient(0deg,
                #00000080,
                #00000080), url("img/informacion.jpg");
    }

    .index_principal .carta:nth-child(3) {
        background-image: linear-gradient(0deg,
                #00000080,
                #00000080), url("img/mecanico-industrial.jpg");

    }

    .index_principal #caracteristicas {
        background-image: url("img/organizar.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    .index_principal #caracteristicas .container {
        text-align: initial;
    }

    .index_principal #caracteristicas ul {
        margin-left: 100px;
    }

    .index_principal #ingresa h2 {
        font-size: 5em;
    }

    .index_principal #ingresa button {
        font-size: 2em;
    }

    .index_principal .slide {
        margin-top: 10px;
    }

    .index_principal .slide img {
        height: 65vh;
    }

    .index_principal .footer-items {
        grid-template-columns: 2fr 1fr max-content max-content 1fr;
        gap: 2em;
    }

    .index_principal .footer-nav {
        margin-top: 0;

    }

    .index_principal .footer-media {
        margin-bottom: 1em;
    }

    .index_principal .footer-social {
        margin-top: 0em;

    }

    .index_principal .footer_media-last {
        margin-right: 0;
    }

}

@media (min-width: 1200px) {
    .index_principal #caracteristicas {
        background-position-x: calc(100vw - 800px);
    }

}

/*--------------------------------------------------------------------*/
/*CSS DE FORMULARIO NORMAL*/
.formulario *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario body{
    background: #141E30; 
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 

    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.formulario .form {
    background-color: #ffffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form-container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.formulario .form-title {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.formulario .form-input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #6c00c5;
    border-radius: 0.2em;
}

.form-input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form-cta {
    font-family: inherit;
    font-size: 1rem;
    background-color: #6c00c5;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}

.form-control {
    font-size: 20px;
    margin-bottom: 10px;
}

.invalid {
    border: 1px solid #ff0000;
}

.error {
    color: #ff0000;
    font-size: 14px;
}

.hide {
    opacity: 0;
}

@media (max-width:450px){
    .form{
        padding: 3.5em 1em;
    }
}

/*--------------------------------------------------------------------*/
/*CSS DE FORMULARIO DE REGISTRO*/

.formulario_registro .warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #cfd9df;
    padding-top: 20px;
}

.formulario_registro :root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #cfd9df;
}

.formulario_registro body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.formulario_registro .bg-light {
    background-color: var(--color-light) !important;
}

.formulario_registro .bg-dark {
    background-color: var(--color-dark) !important;
}

.formulario_registro .p-6 {
    padding: 4rem 7rem;
}

.formulario_registro .contact-box {
    padding: 3rem;
}

.formulario_registro .btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.formulario_registro .btn-primary {
    color: #fff;
    background-color: #6c00c5;
    border-color: #000000;
}

.formulario_registro .btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.formulario_registro .form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.formulario_registro .register-bg {
    background-image: url('img/fondo-registro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.formulario_registro .testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .formulario_registro .p-6 {
        padding: 2rem;
    }

    .formulario_registro .contact-box {
        padding: 0;
    }

    .formulario_registro .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .formulario_registro .register-bg {
        min-height: 50vh;
    }
}

/*--------------------------------------------------------------------*/
/*CSS DE FORMULARIO DE LOGIN*/
.formulario_login .warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #cfd9df;
    padding-top: 20px;
}

.formulario_login :root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #cfd9df;
}

.formulario_login body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.formulario_login .bg-light {
    background-color: var(--color-light) !important;
}

.formulario_login .bg-dark {
    background-color: var(--color-dark) !important;
}

.formulario_login .p-6 {
    padding: 4rem 7rem;
}

.formulario_login .contact-box {
    padding: 3rem;
}

.formulario_login .btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.formulario_login .btn-primary {
    color: #fff;
    background-color: #6c00c5;
    border-color: #000000;
}

.formulario_login .btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.formulario_login .form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.formulario_login .register-bg {
    background-image: url('img/fondo-registro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.formulario_login .testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .formulario_login .p-6 {
        padding: 2rem;
    }

    .formulario_login .contact-box {
        padding: 0;
    }

    .formulario_login .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .formulario_login .register-bg {
        min-height: 50vh;
    }
}